<!DOCTYPE HTML>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/asset/style.css" rel="stylesheet">
    <link href="/asset/font.css" rel="stylesheet">
    <title>...ndo Café</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#C69838" />
    <meta property="og:image" content="/asset/icon.png"/>
    <meta property="og:site_name" content="...ndo Café"/>
    <link rel="icon" type="image/x-icon" href="/asset/icon.png">
    <meta
      name="og:description"
      content="...ndo Café"
    />
    <meta
      name="description"
      content="...ndo Café"
    />
  </head>
  <body>
    <h1 class="center padding-10">...ndo Café</h1>
    <h2 class="center padding-10">Qual te representa melhor?</h1>
    {{range .}}
      <a class="center padding-10" target="_blank" href="https://{{.URL}}">{{.URL}}</a>
    {{end}}
    <span class="center padding-10 margin-top-40">
      O código está disponível no
      <a target="_blank" href="https://github.com/Pauloo27/fazendocafe">GitHub</a>
    </span>
  </body>
</html>
